src/main/mule/schedul.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="schedulFlow" doc:id="ac260bf0-9fdf-442f-8ede-89a1ec8dd2f2" >
		<scheduler doc:name="Scheduler" doc:id="57201e73-87b1-4bdb-a8fe-8fe5f800a826" >
			<scheduling-strategy >
				<cron expression="17/5 * * * * ?" timeZone="EST" />
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Transform Message" doc:id="15e3c0da-8519-4d94-9500-c40c04ab7b1e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	'triggered': now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="907fb968-0bfc-4c4f-a295-c48937bd1974" path="D:\MuleSoft\logs\scheduler_cron.json" mode="APPEND"/>
		<logger level="INFO" doc:name="Logger" doc:id="368a4bad-c4fc-467f-a646-06e1db50ce28" message="Trigger at #[now()]"/>
	</flow>
</mule>
